<div class="container mt-4 mb-4">
<div class="card">
<div class="card-header bg-info text-white">
<h4 class="card-title">Overview</h4>
</div>
<div class="card-body">
<p class="card-text">This scatter plot, with EfficiencyUDP Performance Score on the vertical axis and Computational Cost USD/hour on the horizontal axis, showing that the most efficient models become less expensive to run.</p>
<a href="https://mpost.io/generative-ai-in-2024-emerging-trends-breakthroughs-and-future-outlook/" target="_blank" class="btn btn-info">Reference Article</a>
</div>
</div>
</div>
<div class="container mb-4">
<div class="card">
<div class="card-body text-center">
<div #pieChart></div>
</div>
</div>
</div>
<div class="container mt-4 mb-4">
<div class="card">
<div class="card-header bg-info text-white">
<h4 class="card-title">Insights</h4>
</div>
<div class="card-body">
<p class="card-text">The graph shows the reduction of computational costs with the introduction of new advancements like LoRA and quantization, which is either increasing or maintaining high efficiency. This means generative AI is becoming increasingly accessible for businesses with low computational capacity and that AI technology is increasingly democratizing.</p>
<a href="https://mpost.io/generative-ai-in-2024-emerging-trends-breakthroughs-and-future-outlook/" target="_blank" class="btn btn-info">Reference Article</a>
</div>
</div>
</div>
  